numpy==2.2.5
matplotlib==3.10.1
scipy==1.15.2
scikit-learn==1.6.1
typing_extensions==4.13.2
six==1.17.0
python-dateutil==2.9.0.post0
pyparsing==3.2.3
packaging==25.0
# pip install torch --index-url https://download.pytorch.org/whl/cpu